.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.nowrap {
  flex-wrap: nowrap;
}

img {
  /*width:100%;*/
  max-width: 300px;
  background-size: contain;

  margin: auto;
  width: 100%;
  max-width: 300px;
  max-height: 100%;
}

.padded {
  padding: 1rem;
}

.button {
	background-color: transparent;
  border: 0;
}
