body {
  background: #F2F1EF;
  font-family: 'lato', sans-serif; line-height:1.2; vertical-align:middle;
  border-radius : 0.25rem;
  display       : block;
  margin        : 3vh auto;
  overflow      : hidden;
  padding       : 4.5em 0 0;
  position      : relative;
  text-align    : center;
}

.card {
  padding:   1rem;
  width:     100%;
  max-width: 40rem;
}

.card.animate {
  -webkit-animation : fly-in .3s .5s ease both;
  -moz-animation    : fly-in .3s .5s ease both;
  -o-animation      : fly-in .3s .5s ease both;
  animation         : fly-in .3s .5s ease both;
}

@-webkit-keyframes fly-in {
  from {
    -webkit-transform :translateY(15rem) rotate(15deg);
    transform         :translateY(15rem) rotate(15deg);
    opacity:0;
  }
}
@-moz-keyframes fly-in {
  from {
    -moz-transform :translateY(15rem) rotate(15deg);
    transform      :translateY(15rem) rotate(15deg);
    opacity:0;
  }
}
@keyframes fly-in {
  from {
    transform:translateY(15rem) rotate(15deg);
    opacity:0;
  }
}

#app {
  /*background-color: #F2F1EF;*/
}

#app .animate:nth-of-type(1) {
  animation-delay: 0s;
}
#app .animate:nth-of-type(2) {
  animation-delay: 500ms;
}
#app .animate:nth-of-type(3) {
  animation-delay: 1000ms;
}

#app .card img {
  max-width: 100%;
}

.list {
  display:          flex;
  flex-wrap:        wrap;
  align-items:      center;
  justify-content:  center;
}
.nowrap {
  flex-wrap: nowrap;
}


.bg {
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  height: 100%;
  width: 100%;
  min-width: 200px;
  min-height: 300px;
}

.snowy {
  background-color: #6b92b9;
  background-image: url('https://user-images.githubusercontent.com/1154834/34234912-11baa576-e5a3-11e7-9797-3f1f65696758.png'), url('https://user-images.githubusercontent.com/1154834/34234914-11ec1656-e5a3-11e7-9484-b1fe0c70fe2f.png'), url('https://user-images.githubusercontent.com/1154834/34234913-11d1044c-e5a3-11e7-9e55-32fedf4db5e6.png');
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}

/*Keyframes*/
@keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-moz-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 50% {background-color:#b4cfe0;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px; background-color:#6b92b9;}
}

@-ms-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
